/**********Responsive CSS*********/
@media only screen and (max-width: 800px) and (min-width: 640px) {
body nav {
    position: fixed;
    width: 100%;
    top: 0px;
    margin: 0px;
}

.menu {
    text-align: left;
    display: none;
}
#logo {
    display: none;
}
body .content-atelier {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
}
#toggle:checked + .menu {
    display: block;
}
.logo-fix {
    display: block;
}
nav a img {
    margin-left: 42px;
}

.texte {
    margin-right: 0%;
}
.content-atelier {
    width: 87%;
}

}


@media only screen and (max-width: 800px) {
	.menu-projets {
    width: 90% !important;
    margin: 0px 0px 0px 0px !important;
    padding: 20px 5% 20px 6% !important;
}
.contenu {
    display: block;
}	
	body nav {
    position: relative !important;
	}
.menu {
    height: 0px;
    transition: 1s;
    overflow: hidden;
	    display: block !important;
}

#toggle:checked + .menu {
    margin-top: 15px;
    height: 280px;
}
.mid-nav #toggle:checked + .menu {
    margin-top: 15px;
    height: 190px;
}
.contact-titre-adresse {
    margin-top: 10px;
}
.short-nav #toggle:checked + .menu {
    margin-top: 15px;
    height: 142px;
}

	.team-profil-img img {
    border-radius: 5%;
    width: 100% !important;
    height: 25%;
    margin-left: 0 !important;
    margin-top: 0 !important;
}
	.team-profil-titre {
    position: relative;
    margin-top: 0%;
}
.team-profil-titre-nom {
    margin-left: 0px;
}
.team-profil-titre-biographie {
    margin-left: 0;
}
form#contact-form input.form-control, form#contact-form textarea.form-contact {
    width: 98% !important;
}
form#contact-form input.form-control.submit {
	    width: 100% !important;

}
	.contact-titre-adresse, .Contact-us{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 20px;
}
.contact-titre-adresse p {
    margin: 25px 0px;
}
.contact-titre-adresse h2 {
    text-align: left;
}
 .Contact-us h3 {
	     margin-left: 0px;
    margin-right: 0px;
 }
.Follow h3 {
    padding: 0px 20px;
}
form#contact-form input, form#contact-form textarea {
    width: 100%;
}
#contact-form {
    padding: 0px 20px;
}
.contact-form, #contact-form , .Follow, .Follow h3{
    width: 100%;
    margin: 0px 0px;
}
.menu-projets-menu {
      margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 20px 15px;
}

.menu-projets-menu img {
    padding: 0px;
    width: 100%;
    height: auto;
}
.menu-projets img {
    width: 100%;
    height: auto;
}
	.menu-projets {
margin-left: 50px;
    margin-right: 50px;
	margin-top: 50px;
	}
.team-profil {
    margin-left: 0px;
    font-family: Century Gothic;
    margin-right: 0px;
    padding: 0px 20px;
    width: auto;
    margin: 20px auto 0px;
}

.team-profil-titre p {
    font-size: 13px;
    position: relative;
    margin-right: 0px;
    text-align: justify;
}
	#toggle:checked + .menu {
    display: block;
    width: 100%;
}

nav a img {
    padding-top: 20px;
	
}
	label {
    width: 10%;
    font-size: 30px;
}
.logo-fix {
    display: inline-block !important;
    width: 85%;
}
.logo-fix {
    display: block;
}
body nav {
	    top: 0;
    margin-top: 0px;
	    z-index: 999;

}
body nav ul {
    width: 100%;
}
#toggle:checked + .menu {
    margin-top: 10px;
}
label {
	    right: 6px;
	    position: relative;
    top: -8px;
	    display: inline-block;
       width: 10%;
	       text-align: right;
    font-size: 30px;
}
#logo-acc {
    margin-top: 5%;
    display: inline-block;
    margin-left: 2%;
}
#logo-acc img {
    width: 120px;
    margin-left: 10px;
    height: auto;
}
.slider-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0px;
}
img.slide {
    height: 260px;
}
body #logo {
    margin-top: 0%;
    margin-left: 0%;
    background-color: #fff;
}
div#main-slider {
    width: 92%;
    margin: 20px 4%;
}
img.slide {
    width: 100%;
}
.content-atelier img {
    width: 92%;
    margin-left: 0%;
    padding: 0px 4%;
}
body.publication-index .container {
    width: 100% !important;
    display: block;
    margin-top: 0px;

}
.publication-index .container .box {
    width: 290px;
    height: auto;
    margin: 0px auto;
    display: block;
    background: none;
    text-align: center;
}
.publication-index .container .box .imgBox img {
    margin-bottom: 0px;
	    margin-top: 30px;
}
.publication-index .container .box .imgBox h4 {
    margin-top: 5px;
    font-size: 14px;
}
.texte h2 {
    margin-top: 15px !important;
}
	.texte p {
    margin-left: 0%;
	margin-bottom:25px;
}
.menu-projets-menu h1 {
font-size: 22px;
    margin-bottom: 105px;
    margin-top: 10px;
    font-weight: 500;
    margin-left: 0px;
}
.desc-photog {
    position: absolute;
    top: 62px;
    left: 17px;
    width: 100%;
}
}

@media only screen and (max-width: 700px) 
{

	.texte h2 {
    margin-left: 0%;
}
	.menu {
    text-align: left;
    display: none;
	margin: 0px !important;
}


}
@media only screen and (max-width: 640px) and (min-width: 470px){
	.content-atelier {
    width: 100%;
    margin: 0;
    margin-top: 50px;
}

}
@media only screen and (max-width: 470px){

.image {
    margin-top: 10%;
}

}
@media only screen and (max-width: 1024px) and (min-width: 800px) {
	.team-profil-titre p {
    font-size: 13px;
    position: relative;
    margin-right: 0px;
    text-align: justify;
}
.team-profil {
    margin-left: 250px !important;
}
.texte {
    margin-right: 0%;
}
}
@media only screen and (max-width: 640px){
.team-profil-titre h1 {
    font-size: 30px;
}
.team-profil-img img {
    border-radius: 5%;
    width: 69%;
    height: 25%;
    margin-left: 5%;
    margin-top: 5%;
}

}


@media only screen and (max-width: 485px){
	
	
	.menu-projets {
    width: 100%;
    margin: 65px 0px 0px 0px;
    padding: 20px 15px;
}
.team-profil-titre h1 {
    font-size: 24px;
}
}

@media only screen and (max-width: 400px){


}

.content-atelier {
	display: block;
}
.image {
    margin-top: 0;
}
.texte {
    margin-top: 0px;
}
.texte h2 {
    margin-top: 0px;
}
@media only screen and (min-width: 800px){
.index-home nav {
    display: none;
}
.wrap-oo {
    display: inline-flex;
}
}
/**********Responsive CSS*********/
